<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amrita_placements">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.amrita_placements.activities.verification" />
        <activity android:name="com.example.amrita_placements.activities.hostelfees" />
        <activity android:name="com.example.amrita_placements.activities.profilepage" />
        <activity android:name="com.example.amrita_placements.activities.changepassword" />
        <activity android:name="com.example.amrita_placements.activities.busfees" />
        <activity android:name="com.example.amrita_placements.activities.formpage" />
        <activity android:name="com.example.amrita_placements.activities.canteendues" />
        <activity android:name="com.example.amrita_placements.activities.labfines" />
        <activity android:name="com.example.amrita_placements.activities.libraryfines" />
        <activity android:name="com.example.amrita_placements.activities.messfees" />
        <activity android:name="com.example.amrita_placements.activities.otherdues" />
        <activity android:name="com.example.amrita_placements.activities.paypage" />
        <activity android:name="com.example.amrita_placements.activities.tuitionfees" />
        <activity android:name="com.example.amrita_placements.activities.Viewreceipts" />

        <activity android:name=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>